/* ==========================================================================
   HTML5 Boilerplate styles 
   ========================================================================== */

/*   Reset Stylesheet  */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

article, aside, figure, footer, header,
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Core Styles ==================================================
   Author: Manuel Yang
   ========================================================================== */

body {
    background-image: url('../img/background.png');
    background-repeat: repeat;
    font: 16px/26px "Roboto", Helvetica, Helvetica Neue, Arial;
}

h1 {
    font: 50px/120px "Roboto", Helvetica, Helvetica Neue, Arial;
    font-weight: 700;
    text-align: center;
}

h2 {
    font: 36px "Roboto", Helvetica, Helvetica Neue, Arial;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    padding-top: 40px;

    font: 22px "Roboto", Helvetica, Helvetica Neue, Arial;
    text-align: center;

    color: white;
}

h4 {
    padding-top: 40px;

    font: 28px "Roboto", Helvetica, Helvetica Neue, Arial;
    font-weight: 500;
    text-align: center;

    color: white;
}

p {
    font: 18.75px "omnes", Helvetica, Helvetica Neue, Arial;
}

section {
    width: 960px;
    height: 420px;
    margin: 50px auto;
    border-bottom: 2px solid #eeeeee;
}

section:last-child {
    border-bottom: none;
}

article {
    width: 430px;
    height: auto;

    padding: 20px 0;
}

.header-container {
    padding: 25px;
    border-top: 5px solid #3e4345;

    background-color: transparent;
}

.main-container {
    margin-bottom: 75px;
}

.main, 
.section-container  {
    overflow: hidden;
    background-color: white;
}

.wrapper {
    width: 1140px; 
    margin: 0 auto;
}

/*============================
    ALL: Kareo Microsite Theme
============================== */

/***** HEADER *****/
#kareo-logo {
    width: 80px;
    height: 80px;

    background-image: url('../img/kareo-logo.png');
}
nav {
    width: 475px;
    height: 80px;

    background-color: #333333;
}
nav ul {
    padding: 30px 0 0 0;
}
nav a {
    width: auto;
    margin: 0 15px;

    font: 22px/16px "omnes";
    letter-spacing: -1px;
    font-weight: normal;
    text-decoration: none;

    color: white;
}
nav a:first-child {
    margin-left: 16px;
}
#cta-top {
    margin-top: 17px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
#cta-top .button {
    width: 170px;
    height: 37px;

    line-height: 37px;
}
#cta-top .button:hover {
    cursor: pointer;
}
#cta-top .button:after {
    content: url('../img/mail-icon-small.png');
    position: relative;
    top: 3px;
    padding-left: 15px;
}
/***** END HEADER *****/

/***** BODY *****/
#img-wrapper {
    width: 1140px;
    height: 613px;

    overflow: hidden;
}
#body-header {
    height: 120px;
    border-bottom: 1px solid #eeeeee;
    
    background-color: white;
}
#cta-main {
    height: 200px;

    text-align: center;

    background-color: #171717;
}
#cta-main .button {
    width: 258px;
    height: 62px;
    margin: 0 auto;
    margin-top: 25px;

    font-size: 30px;
    font-weight: bold;
    line-height: 62px;
}
#cta-main .button:after {
    content: url('../img/mail-icon.png');
    position: relative;
    top: 1px;
    padding-left: 20px;
}
#testimonials {
    height: 400px;
    background-color: #333333;
}
#testimonials .qoutebox {
    float: left;
    width: 33.33%;
    height: 250px;
    background-color: white;
}

/***** END BODY *****/



/* ==============
    MOBILE: Menu
   ============== */


/* ==============
    MOBILE: Main
   ============== */


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */

    

/* ============
    WIDE: Main
   ============ */


}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.left {
    float: left;
}
.right {
    float: right;
}
.textleft {
    text-align: left;
}
.textright {
    text-align: right;
}
.button {
    font-weight: 700;

    background-color: #f7941d;
    color: white;
}
.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
}
.filler {
    width: 480px;
    height: 380px;

    background-color: lightblue;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}